<mat-toolbar>
	你好啊
</mat-toolbar>

<mat-form-field>
	<mat-label>表情分类</mat-label>
	<mat-select [(ngModel)]="curCat">
		@for (cat of cats(); track $index) {
		<mat-option [value]="cat">{{ cat.name }}</mat-option>
		}
	</mat-select>
</mat-form-field>

<button matButton="outlined" (click)="openAddCat()">添加分类</button>
<button matButton="outlined" (click)="openAddCatWith()">编辑分类</button>
<button matButton="outlined">删除当前分类</button>

@if (emojis() === null) {
<xg-load />
}
@else {
<xg-emoji [emojis]="emojis()!" />
}
