<h2 mat-dialog-title>添加表情</h2>

<mat-dialog-content>
	<p>
		<input
			type="file"
			(change)="connectLocalFileChange($event)"
			accept="image/gif, image/jpeg, image/png, image/webp"
			/>
		@if (localError(); as err) {
		<mat-error>{{ err }}</mat-error>
		}
	</p>
	<p [formGroup]="localForm">
		<mat-form-field>
			<mat-label>简单描述</mat-label>
			<input matInput formControlName="desc" />
		</mat-form-field>
	</p>

	@if (isUpload()) {
	<p>正在上传……</p>
	}
</mat-dialog-content>

<mat-dialog-actions>
	<button matButton mat-dialog-close>不好</button>
	<button matButton (click)="connectSubmit()">好</button>
</mat-dialog-actions>
